body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

header {
    background-color: #747171;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    margin-top: 0;
}

.transaction-details p {
    margin: 10px 0;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px 0;
    background-color: #747171;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}
/* Button css */
button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 12px 20px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s ease; /* Efek transisi saat hover */
    position: absolute; /* Mengatur posisi tombol menjadi absolut */
    top: 50%; /* Mengatur agar tombol berada di tengah vertikal */
    left: 50%; /* Mengatur agar tombol berada di tengah horizontal */
    transform: translate(-50%, -50%); /* Menggeser tombol ke tengah horizontal dan tengah vertikal */
    width: 200px; /* Menyesuaikan lebar tombol */
}


